@mixin font($font_name, $file_name, $weight, $style) {
        @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
        }
    }

@import 'fonts';





/////////////////////
.header>h1{
    background-image: url('../img/prehistoric_bird-wallpaper-2560x1080.jpg');
    font-size: Roboto;
    font-weight: normal;
}